<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/shef/Desktop/realtests/RealAutoTest">
        <classes>
            <class name="org.example.register.TCRF001">
                <methods>
                    <include name="tcrf001"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>